.CNode-List {
  font-size: 0.4rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.2rem;
  margin: 0.2rem 0.2rem 0;
}

.CNode-title {
  font-size: 0.4rem;
  margin-bottom: 0.1rem;
}

.CNode-detail {
  overflow: hidden;
  height: 1rem;
}

.CNode-detail-info {
  float: left;
  width: 70%;
}

.CNode-detail-imgWrap {
  float: left;
  height: 1rem;
  width: 1rem;
  margin-right: 0.2rem;
  display: inline-block;
}

.CNode-detail-info-img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  border: 1px solid #eee;
}

.CNode-detail-loginname {
  color: #111;
  font-size: .4rem;
  padding: 0 0 0.03rem;
}

.CNode-detail-last_reply_at {
  font-size: 0.38rem;
  color: #7e7e7e;
  margin-top: 0.15rem;
}

.CNode-detail-params {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

.CNode-detail-count {
  display: flex;
 justify-content: flex-end;
}

.CNode-detail-text {
  font-size: 0.34rem;
}

.CNode-detail-reply_count {
  color: #7e7e7e;
}
