.V2EX-List {
  font-size: 0.4rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.2rem;
  margin: 0.2rem 0.2rem 0;
  overflow: hidden;
}
.V2EX-List:last-child {
  border: 0;
}

.V2EX-title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.V2EX-title {
  font-size: 0.4rem;
  margin: 0.2rem 0.2rem 0.2rem 0;
  line-height: 0.5rem;
}

.V2EX-detail-info {
  float: left;
  width: calc(100% - 0.9rem);
}

.V2EX-detail-imgWrap {
  float: left;
  height: 0.7rem;
  width: 0.7rem;
  margin-right: 0.2rem;
}

.V2EX-detail-info-img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #eee;
}

.V2EX-detail-loginname {
  color: #778087;
  word-break: break-all;
  font-size: 0.35rem;
}

.V2EX-last_reply_at-wrap {
  display: flex;
  align-items: center;
  font-size: 0.3rem;
}

.V2EX-detail-last_reply_at {
  color: #ccc;
  margin-right: 0.2rem;
}

.V2EX-detail-tab-info {
  display: flex;
  align-items: center;
}

.V2EX-detail-tab {
  margin-right: 0.2rem;
  background-color: #f5f5f5;
  font-size: 0.35rem;
  padding: 4px 4px 4px 4px;
  border-radius: 2px;
  color: #999;
}
