.ui-mask {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.mask-enter-active,
.mask-leave-active {
  transition: opacity .4s;
}

.mask-enter,
.mask-leave-active {
  opacity: 0;
}
