div {
  font-family: Oswald;
}

#Hello .bg {
  background: url(~public/images/common/rx.png) no-repeat 100% 100%;
  height: 100px;
  width: 100px;
  background-size: cover;
}

#Hello img {
  height: 100px;
  width: 100px;
}
